@import url("https://fonts.googleapis.com/css?family=Open+Sans:300,400");
.clearfix::after {
  content: "";
  clear: both;
  display: table;
}

html {
  box-sizing: border-box;
  height: 100%;
}

*,
*:before,
*:after {
  box-sizing: inherit;
  margin: 0;
  padding: 0;
}

/*****************************
********************* GENERAL
*****************************/

body {
  background-color: #85B6BD;
  color: #ffffff;
  font-family: 'Open Sans', sans-serif;
  font-weight: 300;
  height: 100%;
}

.page-header {
  text-align: center;
  font-size: 2rem;
  font-weight: 300;
  text-transform: uppercase;
  color: #ffffff;
}

.container {
  min-width: 360px;
  padding-top: 3.2rem;
  transition: 0.3s all ease;
}

/*****************************
************************ FORM
*****************************/

input {
  display: block;
  width: 70%;
  max-width: 360px;
  margin: 1rem auto;
  height: 2.7rem;
  padding: 0.5rem;
  background: transparent;
  color: #ffffff;
  font-family: "Open Sans", sans-serif;
  font-size: 1.1rem;
  font-weight: 300;
  border: 0;
  border-bottom: 2px solid #ffffff;
  outline: 0;
  border-radius: 0;
}

::placeholder {
  color: #ffffff;
}

#item-quantity {
  margin-bottom: 3rem;
}

button {
  background: transparent;
  color: #ffffff;
  outline: 0;
}

#calculate {
  display: block;
  margin: 0 auto 1.2rem;
  padding: 0.7rem;
  width: 70%;
  max-width: 360px;
  font-family: "Open Sans", sans-serif;
  font-weight: normal;
  font-size: .9rem;
  border: 2px solid #ffffff;
  border-radius: 8px;
  transition: .3s all ease;
}

#calculate:hover {
  background-color: #4D8699;
}

#reset {
  display: block;
  margin: 0 auto 2rem;
  color: #ffffff;
  background: transparent;
  font-family: "Open Sans", sans-serif;
  font-weight: normal;
  font-size: .9rem;
  border: 0;
  outline: 0;
}

button:hover {
  cursor: pointer;
}

.margin__and__results {
  max-height: 0;
  overflow: hidden;
  transition: 0.2s all ease;
}

.margin__section {
  width: 75%;
  max-width: 280px;
  margin: 0 auto 1rem;
  display: flex;
  justify-content: space-between;
}

.margin__content {
  margin: auto 0;
  font-size: 1.1rem;
}

.margin__decrease,
.margin__increase {
  position: relative;
  top: -3px;
  border: 0;
  margin: auto 0;
  width: 2.5rem;
  font-size: 2rem;
}

.margin__decrease:hover,
.margin__increase:hover {
  cursor: pointer;
}

/*****************************
************************* NAV
*****************************/

.nav {
  position: absolute;
  z-index: 999;
  left: -260px;
  top: 0;
  width: 260px;
  height: 100%;
  padding-top: 56px;
  padding-left: 1.2rem;
  padding-right: 1.2rem;
  background: #DFAE8B;
  transition: 0.3s all ease;
}

#unit {
  display: block;
  width: 100%;
  height: 56px;
  padding: 0.5rem;
  background: transparent;
  color: #ffffff;
  font-family: "Open Sans", sans-serif;
  font-size: 1.1rem;
  font-weight: 300;
  border: 0;
  border-bottom: 2px solid #ffffff;
  outline: 0;
  border-radius: 0;
  appearance: none;
  -webkit-appearance: none;
}

#unit:hover {
  cursor: pointer;
}

#about {
  width: 100%;
  height: 56px;
  font-size: 1.1rem;
  border-bottom: 2px solid #ffffff;
  display: flex;
  padding: 0.5rem;
}

#about:hover {
  cursor: pointer;
}

#about > p {
  margin: auto 0;
}

.nav__about {
  position: absolute;
  z-index: 9995;
  left: -260px;
  top: 0;
  width: 260px;
  height: 100%;
  padding-top: 5rem;
  padding-left: 1.2rem;
  padding-right: 1.2rem;
  background: #CA7B46;
  transition: 0.3s all ease;
}

.nav__about p {
  margin-bottom: 2rem;
}

.nav__about-close {
  text-align: center;
}

.nav__about-close:hover {
  cursor: pointer;
}

.hamburger {
  position: absolute;
  z-index: 9999;
  top: 0;
  left: 0;
  width: 56px;
  height: 56px;
  transition: 0.3s all ease;
}

.hamburger:hover {
  cursor: pointer;
}

.bar {
  position: absolute;
  display: block;
  left: 10px;
  height: 3px;
  width: 36px;
  background: white;
  border-radius: 3px;
  transition: 0.3s all ease;
}

.first-bar {
  top: 12px;
}

.second-bar {
  top: 26px;
}

.third-bar {
  top: 40px;
}

/*****************************
**************** JS GENERATED
*****************************/

div.wall-item {
  width: 200px;
  height: 100px;
  display: flex;
  margin: auto 0;
  border: 1px solid black;
  background: #CCCCCC;
  color: black;
}

div.wall-item:nth-child(3n + 1) {
  background: #A9B7C0;
}

div.wall-item:nth-child(3n + 2) {
  background: #C7D8C6;
}

div.wall-item:nth-child(3n + 3) {
  background: #EFD9C1;
}

.wall-item:hover {
  cursor: pointer;
}

.wall-item-number {
  margin: auto;
  pointer-events: none;
}

.result__outer-wall {
  display: flex;
  justify-content: space-around;
  width: 90%;
  max-width: 500px;
  margin: 0 auto 1rem;;
  background: #EEE;
}

.result__inner-wall {
  display: flex;
  width: 100%;
  height: 200px;
  background: #EEE;
  justify-content: space-evenly;
}

.result__specs {
  text-align: center;
  margin-bottom: 1.5rem;
}

.hide.error {
  display: none;
}

.error__description {
  font-weight: bold;
  text-align: center;
  padding-bottom: 2rem;
}

.wall-item-title {
  padding-bottom: 1rem;
}

/*****************************
****************** ANIMATIONS
*****************************/

.change.nav {
  left: 0;
}

.change.nav__about {
  left: 0;
  width: 100%;
}

.change.first-bar {
  top: 26px;
  transform: rotate(-45deg);
}

.change.second-bar {
  opacity: 0;
}

.change.third-bar {
  top: 26px;
  transform: rotate(45deg);
}

.change.container {
  margin-left: 260px;
}

/*****************************
*************** MEDIA QUERIES
*****************************/

@media (max-width: 600px) {
  .change.nav {
    width: 100%;
    padding-left: 3.8rem;
    padding-right: 3.8rem;
  }

  .nav__about {
    padding-left: 3.8rem;
    padding-right: 3.8rem;
  }
}